@import 'variables';

header {
  height: 7vh;
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $primaryColor;
  background-color: $navigationBackground;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    background: $navigationBackground;
    background-size: 200%;
  }
}

.header {
  margin-left: 12px;
}

.right {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 24px;
  font-weight: 900;
  color: $primaryText;

  width: 100%;
  padding: 12px 24px 12px 32px;

  background-color: transparent;
  line-height: 18px;
  border-radius: 50px;
  border: 1px solid $primaryColor;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::placeholder {
    color: $primaryColor;
  }
}

.search-icon {
  display: flex;
  position: absolute;
  margin-left: 6px;
}

.bell {
  margin-right: 11vh;
}

app-avatar {
  min-width: 6vh;
  width: 6vh;
  height: 6vh;
  position: fixed;
  top: 0.5vh;
  right: 1vh;
  cursor: pointer;
}

h1 {
  margin-left: 14px;
  font-size: 30px;
}

::ng-deep {
  .menu-button * {
    color: $primaryColor;
  }
}
