<header>
  <div class="header d-flex flex-align-items-center">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon fontIcon="menu" color="primary" />
    </button>
    <h1>{{ SITE_NAME }}</h1>
  </div>
  <div class="right">
    <input
      #search
      class="search"
      type="text"
      placeholder="Search for tasks..."
      (input)="loadTasks()"
      [formControl]="searchControl"
      [matAutocomplete]="auto" />
    <mat-icon
      class="search-icon hover-pointer"
      (click)="search.focus()"
      fontIcon="search"
      color="primary" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let task of tasks" [value]="task.id">
        {{ task.title }}
      </mat-option>
    </mat-autocomplete>
    <button
      class="d-flex flex-justify-center bell"
      mat-icon-button
      matTooltip="Notifications"
      color="primary">
      <!--      is there are notifications: notifications_active-->
      <mat-icon fontIcon="notifications" />
    </button>
  </div>
</header>

<app-avatar [matMenuTriggerFor]="menu" [username]="username"></app-avatar>
<mat-menu #menu="matMenu">
  <button
    class="menu-button"
    mat-menu-item
    *ngFor="let item of DROPDOWN_ITEMS"
    (click)="item.onClick()">
    <mat-icon color="primary" [fontIcon]="item.icon" />
    {{ item.title }}
  </button>
</mat-menu>
