@import '../../assets/styles/variables';

header {
  height: 7vh;
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $primaryColor;
  background-color: $navigationBackground;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    background: $navigationBackground;
    background-size: 200%;
  }
}

.header {
  margin-left: 12px;
}

.right {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 24px;
}

.bell {
  margin-right: 11vh;
}

app-avatar {
  min-width: 6vh;
  width: 6vh;
  height: 6vh;
  position: fixed;
  top: 0.5vh;
  right: 1vh;
  cursor: pointer;
}

h1 {
  margin-left: 14px;
  font-size: 30px;
}
