<header>
  <div class="header d-flex flex-align-items-center">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon fontIcon="menu" color="primary" />
    </button>
    <h1>{{ SITE_NAME }}</h1>
  </div>
  <div class="right">
    <input
      #search
      class="search"
      type="text"
      placeholder="Search for tasks..."
      (input)="loadTasks()"
      [formControl]="searchControl"
      [matAutocomplete]="auto" />
    <mat-icon
      class="search-icon hover-pointer"
      (click)="search.focus()"
      fontIcon="search"
      color="primary" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let task of tasks"
        [value]="task.id"
        [innerHTML]="boldTitle(task.title, searchControl.value)" />
    </mat-autocomplete>
    <button
      class="d-flex flex-justify-center bell"
      (click)="loadNotifications()"
      [matMenuTriggerFor]="notifications"
      mat-icon-button
      matTooltip="Notifications"
      color="primary">
      <!--      is there are notifications: notifications_active-->
      <mat-icon
        fontIcon="notifications"
        [matBadge]="notificationCount"
        matBadgeColor="warn"
        matBadgeSize="small" />
    </button>
  </div>
</header>

<app-avatar [matMenuTriggerFor]="profile" [username]="username" />
<mat-menu #profile="matMenu">
  <button
    class="menu-button"
    mat-menu-item
    *ngFor="let item of DROPDOWN_ITEMS"
    (click)="item.onClick()">
    <mat-icon color="primary" [fontIcon]="item.icon" />
    {{ item.title }}
  </button>
</mat-menu>
<mat-menu
  #notifications="matMenu"
  class="notifications-menu"
  xPosition="before"
  yPosition="below">
  <p
    class="no-notification text-center"
    *ngIf="unreadNotifications?.length === 0">
    No new notifications...
  </p>
  <div class="d-flex flex-justify-center">
    <mat-spinner
      class="notification-loader"
      diameter="40"
      *ngIf="!unreadNotifications" />
  </div>
  <ng-container *ngIf="unreadNotifications?.length">
    <mat-divider />
    <ng-container *ngFor="let notification of unreadNotifications">
      <button
        class="menu-button notification-button"
        mat-menu-item
        (click)="clickNotification(notification.link)">
        <mat-icon
          class="notification-icon"
          color="primary"
          fontIcon="notification_important" />
        {{ notification.message }}
      </button>
      <mat-divider />
    </ng-container>
  </ng-container>
</mat-menu>

<ng-template #notify let-notificationData="notification">
  <div
    class="notification w-100 d-flex flex-justify-between"
    (click)="
      clickNotification(
        receivedNotifications[notificationData.message]?.link,
        notificationData.message
      )
    ">
    <div
      class="notification-message w-95 text-black d-flex flex-align-items-center">
      {{ receivedNotifications[notificationData.message]?.message }}
    </div>
    <button
      mat-icon-button
      (click)="closeNotification($event, notificationData.message)">
      <mat-icon class="w-5 text-black" fontIcon="close" />
    </button>
  </div>
</ng-template>
