<header>
  <h1>{{ SITE_NAME }}</h1>
  <div class="right">
    <button mat-icon-button matTooltip="Search" class="search" color="primary">
      <mat-icon fontIcon="search" />
    </button>
    <button
      class="d-flex flex-justify-center bell"
      mat-icon-button
      matTooltip="Notifications"
      color="primary">
      <!--      is there are notifications: notifications_active-->
      <mat-icon fontIcon="notifications" />
    </button>
  </div>
</header>

<app-avatar (click)="openProfileDropdown()" [username]="username"></app-avatar>
