@import 'variables';

mat-form-field {
  width: 48%;
}

.bottom-buttons {
  padding-right: 24px;
}

.list {
  min-height: 64%;
  max-height: 64%;
  overflow-y: scroll;
  border: $primaryColor solid 1px;
}
