@import 'variables';

.row {
  padding-top: 10px;
}

.second-row-card {
  margin-top: 12px;
}

.card-content {
  min-height: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-card {
  background-color: $background;
  margin-bottom: 12px;
}

.notification-date {
  padding: 6px 0 0 6px;
}

.close-button {
  margin: 0;
}

.notification-header {
  padding: 4px 4px 0 0;
}

.info-card-header {
  padding: 12px;
}

::ng-deep {
  .info-card .mat-mdc-card-header-text {
    display: none;
  }
}

.board-title {
  font-size: 18px;
}

.board-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
  margin: 0 4px;
}

.chevron-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.notification-content {
  padding-bottom: 16px;
}
