<mat-card>
  <mat-card-header>
    <mat-card-title>Task statistics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div content class="row d-flex flex-justify-between">
      <div class="w-48">
        <app-bar-chart
          [options]="overallTaskContributionChartOptions"
          title="Task Contribution" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-48">
        <app-bar-chart
          [options]="taskPerBoardChartOptions"
          title="Assigned Tasks per Board" />
      </div>
    </div>
    <mat-divider />
    <div content class="row d-flex flex-justify-between">
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart [options]="tasksChartOptions" title="Assigned Tasks" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart
          [options]="createdTasksChartOptions"
          title="Created Tasks" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart
          [options]="taskPerStagesChartOptions"
          title="Assigned Tasks per Stage" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="notifications-list w-50">
  <mat-card-header>
    <mat-card-title>Notifications</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-skeleton-loader
      *ngIf="!notifications"
      class="w-100"
      count="5"
      appearance="line" />
    <ng-container *ngIf="notifications">
      <div *ngIf="notifications.items?.length === 0">No new notifications.</div>
      <ng-container *ngIf="notifications.items?.length">
        <mat-card
          *ngFor="let notification of notifications.items"
          (click)="notificationClick(notification.link)"
          [class]="{
            notification: true,
            'hover-pointer': !!notification.link
          }">
          <mat-card-header
            class="notification-header d-flex flex-justify-between">
            <div class="notification-date">
              {{ relativeDateFormat(notification.createdAt) }}
            </div>
            <button
              mat-icon-button
              matTooltip="Delete"
              (click)="deleteNotification($event, notification.id)">
              <mat-icon class="w-5 text-danger" fontIcon="close" />
            </button>
          </mat-card-header>
          <mat-card-content class="text-black">
            {{ notification.message }}
          </mat-card-content>
        </mat-card>
        <mat-paginator
          [hidePageSize]="true"
          [showFirstLastButtons]="true"
          [length]="notifications.totalCount || 1"
          (page)="changeNotificationsPage($event)"
          [pageIndex]="notifications.currentPage - 1"
          [pageSize]="notificationsPage.pageAmount"
          aria-label="Select page">
        </mat-paginator>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card></mat-card>
