<mat-card>
  <mat-card-header>
    <mat-card-title>Task statistics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div content class="row d-flex flex-justify-between">
      <div class="w-48">
        <app-bar-chart
          [options]="overallTaskContributionChartOptions"
          title="Task Contribution" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-48">
        <app-bar-chart
          [options]="taskPerBoardChartOptions"
          title="Assigned Tasks per Board" />
      </div>
    </div>
    <mat-divider />
    <div content class="row d-flex flex-justify-between">
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart [options]="tasksChartOptions" title="Assigned Tasks" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart
          [options]="createdTasksChartOptions"
          title="Created Tasks" />
      </div>
      <mat-divider [vertical]="true" />
      <div class="w-33 d-flex flex-justify-center">
        <app-pie-chart
          [options]="taskPerStagesChartOptions"
          title="Assigned Tasks per Stage" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
