<app-card [header]="'Project ' + (projectData.name || '')">
  <button actions mat-flat-button color="primary" (click)="editProject()">
    Edit
  </button>
  <div content class="d-flex flex-justify-between">
    <div class="w-30">
      <table mat-table *ngIf="projectData" [dataSource]="projectData.values">
        <ng-container matColumnDef="key">
          <td class="w-50" mat-cell *matCellDef="let element">
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <td class="w-50" mat-cell *matCellDef="let element">
            <ng-container *ngIf="!isUndefined(values[element.key])">
              <mat-icon
                *ngIf="element.key === 'color'"
                [style]="'color:' + values[element.key]"
                fontIcon="square"
                [matTooltip]="values[element.key]" />
              <div *ngIf="element.key !== 'icon' && element.key !== 'color'">
                {{ values[element.key] }}
              </div>
              <mat-icon
                *ngIf="element.key == 'icon'"
                color="primary"
                [style]="{
                  color: values['color']
                }"
                [fontIcon]="values[element.key] || 'widgets'" />
            </ng-container>
            <ng-container *ngIf="isUndefined(values[element.key])">
              <ngx-skeleton-loader
                *ngIf="element.key === 'icon'"
                appearance="circle" />
              <ngx-skeleton-loader
                *ngIf="element.key !== 'icon'"
                appearance="line" />
            </ng-container>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: ['key', 'value']"></tr>
      </table>
    </div>
    <div class="w-30">
      <apx-chart
        *ngIf="boardChartOptions"
        [series]="boardChartOptions.series"
        [chart]="boardChartOptions.chart"
        [dataLabels]="boardChartOptions.dataLabels"
        [plotOptions]="boardChartOptions.plotOptions"
        [xaxis]="boardChartOptions.xaxis"
        [yaxis]="boardChartOptions.yaxis"
        [legend]="boardChartOptions.legend"
        [fill]="boardChartOptions.fill"
        [title]="{ text: 'Tasks per Board', align: 'left' }" />
      <ngx-skeleton-loader
        *ngIf="!boardChartOptions"
        count="6"
        appearance="line" />
    </div>
    <div class="w-30">
      <apx-chart
        *ngIf="stagesChartOption"
        [series]="stagesChartOption.series"
        [chart]="stagesChartOption.chart"
        [labels]="stagesChartOption.labels"
        [tooltip]="stagesChartOption.tooltip"
        [colors]="stagesChartOption.colors"
        [states]="stagesChartOption.states"
        [legend]="stagesChartOption.legend"
        [fill]="stagesChartOption.fill"
        [dataLabels]="stagesChartOption.dataLabels"
        [plotOptions]="stagesChartOption.plotOptions"
        [title]="{ text: 'Tasks per Stage', align: 'left' }" />
      <ngx-skeleton-loader
        class="pie-skeleton"
        *ngIf="!boardChartOptions"
        appearance="circle" />
    </div>
  </div>
</app-card>

<app-table header="Boards" [columns]="boardColumns" [data]="boardData">
  <button actions mat-flat-button color="primary" (click)="createBoard()">
    Create
  </button>
  <ng-template #row let-data>
    <div
      *ngIf="data.column.key === 'favourite'"
      class="d-flex flex-justify-center">
      <button
        mat-icon-button
        [matTooltip]="favourites.includes(data.element.id) ? 'Unlike' : 'Like'"
        color="primary"
        (click)="changeFav(data.element)">
        <mat-icon
          [class]="
            favourites.includes(data.element.id) ? 'text-danger' : 'text-gray'
          "
          fontIcon="favorite" />
      </button>
    </div>
    <div
      *ngIf="data.column.key === 'row-action'"
      class="d-flex flex-justify-end">
      <button
        mat-icon-button
        matTooltip="Edit"
        color="primary"
        (click)="editBoard(data.element)">
        <mat-icon class="text-accent" fontIcon="edit" />
      </button>
      <button
        mat-icon-button
        matTooltip="Archive"
        color="primary"
        (click)="archiveBoard(data.element)">
        <mat-icon class="text-danger" fontIcon="archive" />
      </button>
    </div>
  </ng-template>
</app-table>

<app-table
  header="Users"
  [columns]="userColumns"
  [loading]="userLoading"
  [data]="userData"
  (changePage)="changeUserPage($event)"
  [page]="userPage">
  <button actions mat-flat-button color="primary" (click)="inviteUser()">
    Invite
  </button>
  <ng-template #row let-data>
    <div class="d-flex flex-justify-end">
      <button
        mat-icon-button
        matTooltip="Remove"
        color="primary"
        (click)="removeUser(data.element)">
        <mat-icon class="text-danger" fontIcon="cancel" />
      </button>
    </div>
  </ng-template>
</app-table>
