@import 'variables';

.page-content {
  top: 7vh;
  height: 93vh;
}

.page {
  display: grid;
  overflow: auto;
  width: calc(100%);
  z-index: 0;
  padding: 10px;
}

router-outlet {
  display: none;
}

.page-inner {
  width: 100%;
}

app-header {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 7vh;
}

app-side-task {
  display: block;
  width: 40vw;
}
