@import 'variables';

.page-content {
  display: grid;
  position: fixed;
  overflow: auto;
  width: calc(100% - 240px);
  top: 7vh;
  left: 240px;
  height: 93vh;
  z-index: 0;
  padding: 10px;
}

router-outlet {
  display: none;
}

.page-inner {
  width: 100%;
}

app-header,
app-side-nav {
  overflow: hidden;
  position: fixed;
}

app-header {
  width: 100vw;
  height: 7vh;
}

app-popup {
  position: absolute;

  &#profile {
    top: 5%;
    right: calc(140px + 3vw);
  }

  div {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;

    &:not(:first-child) {
      border-top: $primaryColor solid 1px;
    }
  }
}
