<app-table
  header="Users"
  [columns]="userColumns"
  [data]="userData"
  [loading]="loading"
  (changePage)="changePage($event)"
  [page]="userPage">
  <button actions mat-flat-button color="primary" (click)="inviteUser()">
    Invite
  </button>
  <ng-template #row let-data>
    <div class="d-flex flex-justify-end flex-align-items-center">
      <button
        mat-button
        matTooltip="Edit"
        color="accent"
        (click)="editUser(data.element)">
        <mat-icon class="text-primary" fontIcon="edit" />
      </button>
      <mat-slide-toggle
        [checked]="data.element.status === UserStatus.ACTIVE"
        [disabled]="data.element.status === UserStatus.INVITED"
        color="primary"
        (click)="changeStatus(data.element)"
        [matTooltip]="
          data.element.status === UserStatus.ACTIVE
            ? 'Disable'
            : data.element.status === UserStatus.DISABLED
            ? 'Activate'
            : ''
        " />
    </div>
  </ng-template>
</app-table>
