@import 'variables';

.task-card {
  height: 100%;
}

.task-header {
  padding-top: 2px;
  height: 52px;
}

.task-content {
  min-height: calc(100% - 58px);
  padding-top: 6px;
  overflow-y: scroll;
  padding-right: 6px;
}

.save-button {
  margin-right: 4px;
}

.bottom-buttons {
  padding: 10px 16px;
}

::ng-deep {
  .NgxEditor {
    height: 330px;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 330px;

    * {
      color: initial;
      font-size: revert;
    }
  }
}

.info-box {
  margin-top: 6px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info-key {
      font-size: 12px;
      margin-right: 4px;
    }

    .text-black {
      font-size: 10px;
      margin-left: 18px;
    }

    mat-icon {
      font-size: 11px;
      width: 11px;
      height: 11px;
      margin-right: 4px;
      margin-left: 2px;
    }
  }
}

.file-upload {
  margin-top: 10px;

  .file-upload-header {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  mat-divider {
    margin-bottom: 8px;
  }

  .attach-icon {
    height: 18px;
    font-size: 18px;
    width: 18px;
  }
}

.file-preview {
  overflow-x: auto;

  mat-card {
    max-width: 140px;
    min-width: 140px;
    margin: 2px 4px;
  }
}

.file-preview-item {
  padding: 0;
  height: 100px;

  img {
    height: 93%;
    object-fit: cover;
  }

  div {
    text-align: center;
    margin: auto;
  }
}

.file-preview-name {
  height: 30px;
  padding: 0;

  div {
    text-align: center;
    padding: 0 16px;
  }
}

::ng-deep {
  .task-header .mat-mdc-card-header-text {
    width: 50% !important;
  }

  .file-preview-item .mat-mdc-card-header-text {
    display: none;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 18px !important;
  height: 18px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role='img'] {
    width: 18px;
    height: 18px;
    font-size: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 18px !important;
    height: 18px !important;
  }
}

.card-divider {
  margin-bottom: 6px;
}

.drop-zone {
  background-color: rgba(45, 43, 43, 0.8);
  z-index: 10000;
}
.over-drop-zone,
.drop-zone {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.over-drop-zone {
  z-index: 10001;
  background-color: rgba(0, 0, 0, 0);
}

.file-preview {
  z-index: 100;
}

.drop-zone-center {
  width: 50%;
  height: 50%;
  background-color: $background;
  outline: 2px dashed $primaryColor;
  outline-offset: -10px;

  mat-icon {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
}
