@import 'variables';

mat-card-header {
  padding-top: 2px;
}

.bottom-buttons {
  padding: 10px 16px;
}

::ng-deep {
  .NgxEditor {
    height: 370px;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 370px;
  }
}

.info-box {
  .info {
    display: flex;
    align-items: center;

    .info-key {
      font-size: 12px;
      margin-right: 4px;
    }

    .text-black {
      font-size: 10px;
    }

    mat-icon {
      font-size: 11px;
      width: 11px;
      height: 11px;
    }
  }
}

.file-upload {
  margin-top: 10px;
}
