@import 'variables';

.loading {
  position: absolute;
  width: 96%;
  height: 75%;
  z-index: 200;
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.05);
}

::ng-deep {
  .mat-mdc-chip-action-label {
    font-size: 13px;
    font-synthesis-small-caps: auto;
    letter-spacing: 1px;
    padding-top: 2px;
    font-weight: bold;
  }
}

.size-chip {
  color: $primaryText !important;
  background-color: $secondaryColor !important;

  p {
    font-size: 18px;
    color: $primaryText !important;
  }
}

mat-card {
  margin-bottom: 16px;
}

mat-card-content {
  padding: 16px;
}
