.loading {
  position: absolute;
  width: 96%;
  height: 75%;
  z-index: 200;
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.05);
}

.chip {
  font-variant: all-small-caps;
  letter-spacing: 2px;
  padding-bottom: 2px;
}
