<div class="limiter">
  <div class="container">
    <div class="login-wrap">
      <form [formGroup]="form">
        <div class="title">{{ environment.siteName }}</div>

        <div class="input-wrap">
          <input
            type="text"
            placeholder=" "
            name="email"
            formControlName="email" />
          <span class="focus" data-placeholder="Email"></span>
        </div>

        <div class="input-wrap">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder=" "
            name="pass"
            formControlName="password" />
          <span class="focus" data-placeholder="Password"></span>
          <span class="btn-show-pass" (click)="togglePasswordVisibility()">
            <mat-icon
              [fontIcon]="passwordVisible ? 'visibility' : 'visibility_off'" />
          </span>
        </div>

        <div class="error-message" [ngClass]="error ? 'visible' : 'hidden'">
          <mat-icon fontIcon="error" />
          <p>{{ error }}</p>
        </div>

        <div class="login-button-container">
          <div class="login-button-wrap">
            <div class="login-button-background"></div>
            <button (click)="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
