<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%- include("./shared/head.ejs") %>
<body>
<table
        class="email-wrapper"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
>
    <tr>
        <td align="center">
            <table
                    class="email-content"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
            >
                <tr>
                    <td
                            class="email-body"
                            width="570"
                            cellpadding="0"
                            cellspacing="0"
                    >
                        <table
                                class="email-body_inner"
                                align="center"
                                width="570"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                        >
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Hi<%= locals.name; %>!</h1>
                                        <p>
                                            You have been invited by <%= locals.invitedBy; %> to join his team at
                                            TaskApp!
                                            Follow the link below to finish your account:
                                        </p>
                                        <a align="center" class='button' href="<%= locals.invitationLink; %>"
                                           target="_blank">Join us</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
