<div id="task-board" class="board">
  <div
    *ngFor="let stage of stages"
    class="stage d-flex flex-col"
    [id]="stage.id"
    [style]="{ 'background-color': stage.color + '4B' }">
    <h3>{{ stage.name }}</h3>
    <app-task-card
      [id]="task.id"
      class="task"
      [task]="task"
      [color]="stage.color"
      [thumbnail]="loadedAttachments[task.thumbnail]"
      *ngFor="let task of stage.tasks" />
  </div>
</div>

<button
  class="new-task"
  matTooltip="New task"
  mat-fab
  color="primary"
  (click)="newTask()">
  <mat-icon fontIcon="add" />
</button>
