@import 'variables';
::ng-deep {
  .mat-drawer-content:has(app-task-board) {
    overflow-y: hidden;
  }

  .page:has(app-task-board) {
    padding: 0 !important;
  }

  .board-header .mat-mdc-card-header-text {
    display: flex;
    align-items: center;
  }
}

.board-card {
  background-color: $background;
}

.board-header {
  padding-top: 4px;
}

.content {
  overflow-x: scroll;
  padding-bottom: 0;
  background-color: $background;
}

.board {
  display: flex;
  gap: 10px;
  height: 83vh;
  width: 100%;

  .stage {
    flex: 0 0 auto;
    width: 280px;
    padding: 6px 3px 6px 6px;
    gap: 1px;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.new-task {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

app-task-card {
  margin-top: 10px;
}

.app-task-list {
  margin-bottom: 10px;
}

.ghost {
  opacity: 0.2;
}
