@import 'variables';

.content {
  width: 100%;
}

.board {
  display: flex;
  gap: 10px;
  height: calc(93vh - 43px);
  width: 100%;

  .stage {
    flex: 0 0 auto;
    width: 280px;
    padding: 6px 3px 6px 6px;
    gap: 1px;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.new-task {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

app-task-card {
  margin-top: 10px;
}
