@import 'variables';

mat-form-field {
  width: 48%;
}

.bottom-buttons {
  padding-right: 24px;
}

.custom-modal {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 98%;
}
