@import '../../assets/styles/variables';

mat-sidenav-container {
  width: 240px;
  height: 93vh;
  border-right: 1px solid $primaryColor;
  background-color: $navigationBackground;
  margin-right: 10px;
}

ul {
  margin: 10px;
  list-style-type: none;

  li {
    margin-top: 10px;

    a {
      display: inline-flex;
      align-items: flex-end;
      margin-left: 14px;

      ng-icon {
        transition: all 0.5s linear;
      }

      p {
        margin-left: 5px;
        transition: all 0.5s linear;

        &:after {
          content: '';
          position: relative;
          display: block;
          left: -28px;
          top: 2px;
          height: 0;
          width: 0;
          border-bottom: 1px solid $primaryColor;
          transition: all 0.2s linear;
        }
      }

      &:hover,
      &.selected {
        p,
        ng-icon {
          color: $primaryColor;
        }
        p:after {
          width: calc(100% + 34px);
        }
      }
    }
  }

  h3 {
    margin-top: 20px;
    margin-left: 10px;
    color: $primaryColor;
    text-shadow: 1px 3px 0 #a56ea342;
  }
}
