@import 'variables';

mat-sidenav-container {
  width: 240px;
  height: 93vh;
  border-right: 1px solid $primaryColor;
  background-color: $navigationBackground;
}

.icon {
  font-size: 22px;
}

.circle {
  font-size: 12px;
  height: 12px;
  width: 12px;
}

.main-ul {
  width: 200px;
  padding-bottom: 60px;
}

ul {
  margin: 10px;
  list-style-type: none;
  transition: all 0.2s linear;
  overflow: hidden;

  &.compact {
    height: 0 !important;
  }

  .submenu {
    margin-left: 26px;
    margin-top: 2px;
  }

  li {
    margin-top: 10px;

    .compact-toggle {
      cursor: pointer;
      transition: all 0.2s linear;
      margin-left: 12px;

      &.active {
        transform: rotate(-180deg);
      }
    }

    .compact-toggle + a {
      margin-left: 4px;
    }

    a {
      margin-left: 14px;

      ng-icon {
        transition: all 0.5s linear;
        align-self: baseline;
      }

      p {
        margin-left: 5px;
        transition: all 0.5s linear;

        &:after {
          content: '';
          position: relative;
          display: block;
          left: -25px;
          height: 0;
          width: 0;
          border-bottom: 1px solid $primaryColor;
          transition: all 0.2s linear;
        }
      }

      &:hover,
      &.selected {
        p,
        ng-icon {
          color: $primaryColor;
        }

        p:after {
          width: calc(100% + 34px);
        }
      }

      .project-name {
        max-width: 65%;
      }

      .board-name {
        max-width: 88%;
      }
    }
  }

  h3 {
    margin-top: 20px;
    margin-left: 10px;
    color: $primaryColor;
    text-shadow: 1px 3px 0 #a56ea342;
    user-select: none;
  }
}
