@import 'variables';

div {
  position: absolute;
  transform: translateY(-50%) translateX(50%) scale(0);
  transform-origin: center;
  transition: all 0.25s cubic-bezier(0.54, -0.1, 0.57, 0.57);
  background-color: $navigationBackground;
  color: #fff;
  width: 140px;
  padding: 5px 0;
  text-align: left;
  border: $primaryColor solid 1px;
  border-radius: 15px 0 15px 15px;
  user-select: none;
}

.visible {
  transform: translateY(0) translateX(0) scale(1);
}
