@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Signika');
@import '../fonts/Helvetica/helvetica.font-face';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Helvetica', serif;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ng-icon,
div {
  font-family: 'Signika', serif;
  color: $primaryText;
}

a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

body {
  background: $background;
}

.hover-pointer:hover {
  cursor: pointer;
}

.d-none {
  display: none;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  border: transparent solid 1px !important;
}
