$primaryText: #a56ea3;
$secondaryText: #1c0b1c;

$primaryColor: #833ab4;
$secondaryColor: #c9daf8;

$background: #fafafa;
$navigationBackground: #fff;

$warning: #ffdf00;
$success: #22bb33;
$info: #5bc0de;
$gray: #aaaaaa;
$danger: #bb2124;
